<h2> Welcome to Yahoo Weather. </h2>
<h4> Please enter a city and state below to see the five day forecast </h4>

<%= form_tag "/", method: :get do %>
<form class="form-inline">

  <div class="form-group">
     <%= text_field_tag :city, nil, placeholder: "City", class: "form-control"%>
  </div>

  <div class="form-group">
    <%= text_field_tag :state, nil, placeholder: "State", class: "form-control"%>
  </div>

  <div>
    <%= submit_tag "Submit", class:"btn btn-default"%>
  </div>

<% end %>

<h2><%= @title %> Five Day Forecast </h2>

<% @forecasts_five_day.each do |forecast| %>
  <h4> Date: <%= forecast["date"]%> </h4>
  <h4> Day: <%= forecast["day"]%> </h4>
  <p> High: <%= forecast["high"]%> </p>
  <p> Low: <%= forecast["low"]%> </p>
  <p> Text: <%= forecast["text"]%> </p>
<% end %>
