<h2> Welcome to the Weather App. </h2>
<h4> Please enter your city's woeid id to see current weather </h4>
<p> You can look up woeid’s with this tool: http://woeid.rosselliot.co.nz/ </p>

<%= form_tag "/", method: :get do %>
<form class="form-inline">

  <div class="form-group">
     <%= text_field_tag :woeid, nil, placeholder: "Woeid", class: "form-control"%>
  </div>

  <div>
    <%= submit_tag "Submit", class:"btn btn-default"%>
  </div>

<% end %>


<h2> <%= @response_fahrenheit.title %> </h2>
<h4> Temp: <%= @response_celsius.condition.temp %> degrees Celsius </h4>
<h4> Temp: <%= @response_fahrenheit.condition.temp %> degrees Fahrenheit </h4>
<h4> Conditions: <%= @response_fahrenheit.condition.text %> </h4>


<%=image_tag @response_fahrenheit.image.url %>

<%= @response_fahrenheit_3_day.high %>
